.scoreboard{
  position: absolute;
  padding: 50px 70px;
  width: 220px;
  height: 260px;
  background-image: url(../../../assets/images/smallFrame.png);
  background-repeat: no-repeat;
  background-position-y: -5px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
  right: 90px;
  top: 70px;
  background-size: contain;
}