button{
  width: 205px;
  height: 70px;
  border: none;
  color: white;
  text-shadow: 2px 3px 1px black;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20pt;
  padding-top: 10px;
  filter: drop-shadow(0px 0px 3px black);
}

.stone{
  background: url("./../../assets/images/stoneButton.png") no-repeat center center;
  background-size: contain;
  font-family: stonism, sans-serif;

}

.wood{
  background: url("./../../assets/images/titleWood.png") no-repeat center center;
  background-size: contain;
  font-family: stonism, sans-serif;
}