.questionCounter{
  position: absolute;
  bottom: 100px;
  right: 130px;
  width: 250px;
}

.counter{
  box-sizing: border-box;
  margin: 5px;
  padding: 7px 12px;
  color: #e7a449;
  border: none;
  display: inline-block;
  box-shadow: 0px 0px 6px -1px black;
  background-image: url(../../../assets/images/smallFrame.png);
  background-size: cover;
  font-family: generalFont;
  text-shadow: 2px 2px 1px #131212;

  &::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 15px;
    background: #ef0a0ad1;
    opacity: 0.22;
    margin-left: -10px;
    margin-top: -6px;
  }
}