.scoreboard{
  position: absolute;
  padding: 50px 70px;
  width: 220px;
  height: 260px;
  background-image: url(src/assets/images/smallFrame.png);
  background-repeat: no-repeat;
  background-position-y: -5px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
  right: 90px;
  top: 70px;
  background-size: contain;
  font-family: generalFont;
  font-size: 38pt;
  text-shadow: 1px 1px 5px black;
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreText{
  filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
  font-size: 40pt;
  flex-grow: 1;
}

.score{
  font-size: 50pt;
}

.stopQuiz{
  width: 170px;
  flex-grow: 3;

  &.disabled{
    pointer-events: none;

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 50px;
      left: 0;
      top: 30px;
      background: #00000063;
      border-radius: 15px;
      pointer-events: none;
      transition: 0.3s ease;
    }
  }
}