.quiz{
  position: absolute;
  width: 1300px;
  height: 590px;
  left: 50%;
  top: 50%;
  margin-left: -650px;
  margin-top: -300px;
  border: 1px solid green;
  background-image: url("./../../assets/images/bigFrame.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  border: none;
}

.wallPainting{
  background-image: url("./../../assets/images/wallPainting.jpeg");
}