.quiz{
  position: relative;
}

.quizContent{

}

.wallPainting{
  background-image: url("./../../assets/images/wallPainting.jpeg");
}

.bigFrame{
  width: 1700px;
  height: 800px;
  background-image: url("./../../assets/images/bigFrame.png");
  background-size: cover;
}

.frameRibbon{

}