.quiz{
  position: relative;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.bigFrameImage{
  position: absolute;
  width: 1690px;
  height: 800px;
  grid-area: inner-div;
}

.bigFrameContent{
  width: 1560px;
  height: 670px;
  display: flex;
  justify-content: center;
  grid-area: inner-div;
}

.bigFrameContent::before {
  content: "";
  background-image: url("./../../assets/images/bgWood.jpeg");
  opacity: 0.5;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 1560px;
  height: 670px;
}

.ytIntro{
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
  width: 600px;
  position: relative;

  & > * {
    grid-area: inner-div;
  }

  img{
    height: 392px;
    width: 640px;
    position: relative;
    border: none;
  }
}

.youtubeVid{
  box-shadow: 0px 0px 10px black;
  position: relative;
}