.quiz{
  position: relative;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.bigFrameImage{
  position: absolute;
  width: 1690px;
  height: 800px;
  grid-area: inner-div;
  pointer-events: none;
}

.bigFrameContent{
  width: 1560px;
  height: 670px;
  display: flex;
  justify-content: center;
  grid-area: inner-div;
  position: relative;
  overflow: hidden;
}

.bigFrameContent::before {
  content: "";
  background-image: url("./../../assets/images/bgWood.jpeg");
  opacity: 0.35;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 1560px;
  height: 670px;
}

.ytIntro{
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
  width: 600px;
  position: relative;

  & > * {
    grid-area: inner-div;
  }

  img{
    height: 392px;
    width: 640px;
    position: relative;
    border: none;
  }
}

.youtubeVid{
  box-shadow: 0px 0px 10px black;
  position: relative;
}

.textIntro{
  font-family: generalFont;
  position: relative;
  width: 100%;
  padding: 130px;
  padding-bottom: 80px;
  color: #7e4728;
  font-size: 45pt;
  text-shadow: 0px 0px 3px #0000008f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  box-sizing: border-box;
  text-align: left;
}

.quizProps{
  position: absolute;
}