.mainMenu{
  position: absolute;
  background: url("./../../assets/images/bgGui.png") no-repeat;
  height: 570px;
  width: 560px;
  left: 50%;
  top: 45%;
  margin-left: -280px;
  transition: 3s ease;
}