.answer{
  position: relative;
  width: 230px;
  height: 110px;
  color: orange;
  font-family: generalFont;
  filter: drop-shadow(0px 0px 2px #474747);
  text-shadow: 1px 1px 4px #1a1a1a;
}

.correctAnswer, .wrongAnswer{
  pointer-events: none;
}

.correctAnswer{
  background: url(../../../assets/images/correctAnswer.png);
}

.wrongAnswer{
  background: url(../../../assets/images/wrongAnswer.png);
}

.answered{
  pointer-events: none;
  position: relative;

  &::after{
    content: "";
    position: absolute;
    width: 98%;
    height: 94%;
    left: 0;
    top: 0;
    background: #00000059;
  }
}

.frontside, .backside {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 82%;
  background-size: contain !important;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontside{
  background: url(../../../assets/images/answer.png) no-repeat;
  transform: rotateY(0deg);

  &.flip{
    transform: rotateY(-180deg);
  }
}

.backside{
  transform: rotateY(-180deg);

  &.flip{
    transform: rotateY(0deg);
  }
}