.microscope{
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.microscopeCam{
  width: 700px;
  height: 700px;
  border-radius: 350px;
  box-shadow: 0px 0px 10px black;
  border: 25px solid #393634;
  overflow: hidden;
}

.microscopeParts{
  position: absolute;
  z-index: 9;
}

.microscopeButton{
  bottom: 20px;
}

.handle{
  transform: rotate(-55deg);
  right: -70px;
  bottom: -150px;
}

.modalBg{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 37%);
  display: block;
  top: 0;
  left: 0;
  z-index: 9;
}