.question{
  flex-shrink: 0;
  flex-basis: 550px;
  padding: 0 0 0 50px;
  box-sizing: border-box;
}

.answers{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
  gap: 10px 30px;
}

.ytQuestionIntro{
  position: fixed;
  left: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.questionText{
  position: relative;
  top: 200px;
  font-size: 25pt;
  text-shadow: 0px 2px 2px black;
  color: #f89c20;
  font-family: generalFont, sans-serif;
  stroke: #1d26b4;
  -webkit-text-stroke: 1px #da7c1b7d;
  width: 450px;
}

.nextQuestion{
  text-align: end;
  margin-top: 50px;
}

.sandglass{
  position: absolute;
  margin-left: 428px;
  width: 70px;
  top: 12px;
  animation: sandglassShake 1.5s linear infinite;
  right: 0;
}